.chat-main
  .chat-main__group-info
    .top-items
      .top-items__name
      .top-items__edit-btn
  .chat-main__message-list
  .chat-main__message-form
    .bottom-items
      .bottom-items__message-field
      .bottom-items__image-icon
      .bottom-items__send-btn