.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        ogata
      .top-items__icons
        = link_to '#', class: 'top-items__icons__icon' do
          %i.fas.fa-edit
        = link_to '#', class: 'top-items__icons__icon' do
          %i.fa.fa-cog
  .side-bar__group-list