.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        snskOgata
      .top-items__icons
        = link_to '#', class: 'top-items__icons__icon' do
          %i.fas.fa-edit
        = link_to '#', class: 'top-items__icons__icon' do
          %i.fa.fa-cog
  .side-bar__group-list
    .group-items
      .group-items__group-name
        TECH::EXPERT68期
      .group-items__new-message
        まだメッセージがありません
    
    .group-items
      .group-items__group-name
        TECH::EXPERT68期
      .group-items__new-message
        まだメッセージがありません