.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to edit_user_path(current_user), class: 'top-items__icons__icon' do
          %i.fas.fa-edit
        = link_to '#', class: 'top-items__icons__icon' do
          %i.fa.fa-cog
  .side-bar__group-list
    - @groups.each do |group|
      .group-items
        .group-items__group-name
          = group.name
        .group-items__new-message
          まだメッセージがありません