.chat-main
  .chat-main__group-info
    .top-items
      .top-items__left-item
        .top-items__left-item__group-name
          = @group.name
        %ul.top-items__left-item__menber-list
          Member:
          %li.member-name
            snskOgata
          %li
            nakamori
      = link_to '#', class: 'top-items__edit-btn' do
        Edit
  .chat-main__message-list
    .message-boxes
      .message-box
        .message-box__top-items
          .message-box__top-items__name
            snskOgata
          .message-box__top-items__date
            2019/12/30(Mon) 16:30:00
        .message-box__message
          疲れるけどたのしい
      .message-box
        .message-box__top-items
          .message-box__top-items__name
            snskOgata
          .message-box__top-items__date
            2019/12/30(Mon) 16:30:00
        .message-box__message
          もう少しだけ頑張る
  .chat-main__message-form
    .bottom-items
      .bottom-items__left-item
        .bottom-items__left-item__message-field
          type a message
        %label{class: "bottom-items__left-item__image-icon"}
          = icon('far', 'image')
          %input{type: "file"}
      = link_to '#', class: 'bottom-items__send-btn' do
        Send